
.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 30px;
    width: 350px;
    background-color: #f5f5f5;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    margin: 50px auto;
}

.form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #40714f;
}

.form label {
    display: flex;
    flex-direction: column;
    font-weight: 600;
    font-size: 14px;
    color: #000;
}


.form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #fff;
    font-size: 14px;
    transition: 0.3s;
    color: #000;
}

.form input:focus {
    border-color: #5276ca;
    box-shadow: 0 0 5px rgba(64, 113, 79, 0.3);
    outline: none;
}


.form select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #fff;
    font-size: 14px;
    transition: 0.3s;
    appearance: none; 
    cursor: pointer;
    color: #000;
}

.form select:focus {
    border-color: #5276ca;
    box-shadow: 0 0 5px rgba(64, 113, 79, 0.3);
    outline: none;
}


.form button {
    padding: 12px;
    background-color: #40714f;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.form button:hover {
    background-color: #2e5237;
}


.form p {
    color: #d9534f;
    font-size: 13px;
    text-align: center;
    margin-top: 5px;
}


@media (max-width: 480px) {
  .form {
    width: 90%;
    padding: 20px;
  }

  .form input,
  .form select,
  .form button {
    font-size: 13px;
    padding: 8px;
  }
}
