
.layout-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100vh; 
  width: 100vw;
  overflow: auto;

}


.layout-container header {
  background-color: #0f3458;
  color: #fff;
  padding: 0;
  font-size: 20;
  font-weight: bold;
  height: auto;
  overflow: auto;
}

.layout-container header h2{
  color: #bebebe;
}

.layout-container header h1{
  color: #34a48e;
}


.layout-body {
  display: flex;
  flex: 1; 
  overflow: auto;
  
}


.layout-body aside {
  width: 220px;
  background-color: #227466;
  color: #4c1818;
  padding: 10px;
  flex-shrink: 0; 

}


.layout-body aside a {
  display: block;
  /*color de las letras cuando desplega*/
  color: #000000;
  text-decoration: none;
  margin: 0.5rem 0;
  padding: 0.3rem 0.5rem;
  border-radius: 4px;
  transition: background 0.2s;
}

.layout-body aside a:hover {
  background-color: #7bad71; 
}

/* Contenido principal */
.layout-content {
  flex: 1;
  padding: 2rem;
  background-color: #dfe2e3; 
  overflow-y: auto;
}
